.container {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container img {
    width: 10rem;
    height: 10rem;
}

.rain-line {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    margin-right: 1rem;
    font-family: monospace;
}

.rain-line li {
    text-align: center;
    width: 25%;
}